<nav class="navbar sticky-top navbar-toggler navbar-dark bg-dark "  style= "background-color: #5B4B00; position: sticky;">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">我是標題DESU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <div class=" ml-auto  " >
        <form class="d-flex  " action="/search" method="get">
          <input required class="form-control me-2 justify-content-end" name="search" type="search" placeholder="Search" aria-label="search">
          <button class="btn btn-outline-success"  type="submit"> 搜尋</button>
        </form>
      </div>
    </div>
  </div>
</nav>