<nav class="navbar sticky-top navbar-toggler navbar-dark bg-dark "  style= "background-color: #5B4B00; position: sticky;">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">我是標題DESU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <div class="ml-auto container " >
        <form class="d-flex  " action="/search" method="get">
          <input required class="form-control me-2 justify-content-end" name="search" type="search" placeholder="Search" aria-label="search">
          <button class="btn btn-outline-success"  type="submit"> 搜尋</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="row">
            <div class="col-1"><a class="nav-link" href="/search?search=中正區">中正區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=大同區">大同區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=中山區">中山區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=松山區">松山區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=大安區">大安區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=萬華區">萬華區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=信義區">信義區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=士林區">士林區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=北投區">北投區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=內湖區">內湖區</a></div>
            <div class="col-1"><a class="nav-link" href="/search?search=南港區">南港區</a></div>

          </div>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>