body {
background-image: url("https://www.costco.com.tw/medias/sys_master/images/ha3/h83/66470236160030.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}



