body {
background-image: url("https://cdnmedia.eurofins.com/china/media/356504/coffee20bean20background_4200x2800px.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}



